<nav class="navbar navbar-expand-lg navbar-light bg-light rounded-pill" style="max-height: 54px;">
  <div class="container-fluid">
    <ul class="navbar-nav d-flex justify-content-between flex-grow-1 flex-shrink-1">
      <!-- Add Project -->
      <form class="d-flex align-items-center input-group w-auto form-control rounded-pill form-search">
        <input type="search" style="outline: none;" class="search-item border-0 shadow-none bg-transparent h-100"
          placeholder="Search" aria-label="Search" />
        <span style="width: 26px;cursor: pointer;" class="h-auto text-center border-0 rounded-circle" id="search-addon"
          rippleColor="dark" mdbRipple>
          <i class="fas fa-search"></i>
        </span>
      </form>
      <!-- <ng-template *ngIf="user">
        @if (user.isAccess(['leader','admin'])) { -->
      <li (click)="openModalAddProduct()" class="nav-item">
        <button class="btn btn-light btn-floating" rippleColor="dark" mdbRipple>
          <i class="fas fa-plus fa-xl"></i>
        </button>
      </li>
      <!-- }
      </ng-template> -->
      <!-- Add Project -->
    </ul>
  </div>
</nav>
@if(open) {
<pm-add-project (closeModal)="onModalClose()" [fetchData]="fetchData" [user]="user" [leader]="leader"></pm-add-project>
}