<nav class="navbar navbar-expand-lg navbar-light bg-light h-100 shadow-4">
  <div class="container-fluid justify-content-between h-100">
    <!-- Left elements -->
    <!-- Brand -->
    <div class="navbar-brand-img">
      <a class="navbar-brand-img__link" href="#">
        <img src="../../../../assets/images/logo.png" class="navbar-img" alt="logo.png" loading="lazy" />
      </a>
    </div>
    <!-- Search form -->
    <div class="input-group justify-content-center">
      <mdb-form-control>
        <input mdbInput type="search" id="search" class="form-control" />
        <label mdbLabel class="form-label" for="search">Search</label>
      </mdb-form-control>
      <button type="button" class="btn btn-primary">
        <i class="fas fa-search"></i>
      </button>
    </div>

    <!-- Right bar -->
    <ul class="navbar-nav flex-row">
      <div class="d-flex me-4">
        <li mdbDropdown class="nav-item dropdown mx-2 me-lg-1">
          <span class="nav-link dropdown-toggle hidden-arrow" id="chat" role="button" mdbDropdownToggle
            aria-expanded="false">
            <i class="fas fa-comments fa-lg"></i>

            <span class="badge rounded-pill badge-notification bg-danger">6</span>
          </span>
          <ul mdbDropdownMenu class="dropdown-menu dropdown-menu-end" aria-labelledby="chat">
            <li>
              <a class="dropdown-item" href="#">Some news</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Another news</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Something else here</a>
            </li>
          </ul>
        </li>
        <li mdbDropdown class="nav-item dropdown mx-2 me-lg-1">
          <span class="nav-link dropdown-toggle hidden-arrow" id="notifacation" role="button" mdbDropdownToggle
            aria-expanded="false">
            <i class="fas fa-bell fa-lg"></i>
            <span class="badge rounded-pill badge-notification bg-danger">12</span>
          </span>
          <ul mdbDropdownMenu class="dropdown-menu dropdown-menu-end" aria-labelledby="notifacation">
            <li>
              <a class="dropdown-item" href="#">Some news</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Another news</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Something else here</a>
            </li>
          </ul>
        </li>
      </div>
      <div>
        <li mdbDropdown class="nav-item mx-2 me-3">
          <button mdbDropdownToggle aria-expanded="false" role="button" id="avatar"
            class="d-sm-flex align-items-sm-center dropdown-toggle btn btn-tertiary btn--color" type="button" mdbRipple>
            <img src="https://mdbootstrap.com/img/new/avatars/1.webp" class="rounded-circle" height="22" alt="avatar"
              loading="lazy" />
            <strong class="d-none d-sm-block ms-1" *ngIf="user">{{user.username}}</strong>
          </button>
          <ul mdbDropdownMenu class="dropdown-menu dropdown-menu-end" aria-labelledby="avatar">
            <li>
              <a class="dropdown-item" href="#">Profile</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Settings</a>
            </li>
            <li>
              <span class="dropdown-item" style="cursor: pointer;" (click)="handleLogOut()">Logout</span>
            </li>
          </ul>
        </li>
      </div>
    </ul>
    <!-- Right bar -->
  </div>
</nav>