<div style="background: rgb(60 60 60 / 30%);
z-index: 100;" class="d-flex justify-content-center align-items-center position-fixed top-0 bottom-0 start-0 end-0">
  <div
    class="d-flex flex-column justify-content-center align-items-center bg-light shadow-5-strong w-50 rounded-4 px-2 py-2 overflow-auto">
    <button type="button" class="btn btn-light btn-floating" rippleColor="dark" mdbRipple>
      <i class="fa-solid fa-xmark fa-xl"></i>
    </button>
    <form>
      <!-- 2 column grid layout with text inputs for the first and last names -->
      <div class="row mb-4">
        <div class="col">
          <mdb-form-control>
            <input mdbInput type="text" id="form6Example1" class="form-control" />
            <label mdbLabel class="form-label" for="form6Example1">First name</label>
          </mdb-form-control>
        </div>
        <div class="col">
          <mdb-form-control>
            <input mdbInput type="text" id="form6Example2" class="form-control" />
            <label mdbLabel class="form-label" for="form6Example2">Last name</label>
          </mdb-form-control>
        </div>
      </div>
      <!-- Text input -->
      <mdb-form-control class="mb-4">
        <input mdbInput type="text" id="nameProject" class="form-control" />
        <label mdbLabel class="form-label" for="nameProject">Project Name</label>
      </mdb-form-control>

      <!-- Text input -->
      <mdb-form-control class="mb-4">
        <input mdbInput type="text" id="form6Example4" class="form-control" />
        <label mdbLabel class="form-label" for="form6Example4">Address</label>
      </mdb-form-control>

      <!-- Email input -->
      <mdb-form-control class="mb-4">
        <input mdbInput type="email" id="form6Example5" class="form-control" />
        <label mdbLabel class="form-label" for="form6Example5">Email</label>
      </mdb-form-control>

      <!-- Number input -->
      <mdb-form-control class="form-outline mb-4">
        <input mdbInput type="number" id="form6Example6" class="form-control" />
        <label mdbLabel class="form-label" for="form6Example6">Phone</label>
      </mdb-form-control>

      <!-- Message input -->
      <mdb-form-control class="form-outline mb-4">
        <textarea mdbInput class="form-control" id="form6Example7" rows="4"></textarea>
        <label mdbLabel class="form-label" for="form6Example7">Description</label>
      </mdb-form-control>

      <!-- Submit button -->
      <div class="d-flex justify-content-end mb-4">
        <button mdbRipple type="button" class="btn btn-light mx-2">
          Cancel
        </button>
        <button mdbRipple type="button" class="btn btn-primary mx-2">
          Create
        </button>
      </div>
    </form>
  </div>
</div>