<div style="background: rgb(60 60 60 / 30%);
z-index: 100;" class="d-flex justify-content-center align-items-center position-fixed top-0 bottom-0 start-0 end-0">
  <div
    class="d-flex flex-column justify-content-center align-items-center bg-light shadow-5-strong w-50 rounded-4 px-2 py-2 overflow-auto">
    <button (click)="handleHiddenModal()" type="button" class="btn btn-light btn-floating ms-auto" rippleColor="dark"
      mdbRipple>
      <i class="fa-solid fa-xmark fa-xl"></i>
    </button>
    <form style="min-width: 90%;" (ngSubmit)="handleAdddProject()" [formGroup]="formWrap">
      <!-- Text input -->
      <mdb-form-control class=" mb-4">
        <input formControlName="name" mdbInput mdbValidate type="text" id="nameProject" class="form-control"
          name="name" />
        <label mdbLabel class="form-label" for="nameProject">Project Name</label>
      </mdb-form-control>

      <!-- Message input -->
      <mdb-form-control class="form-outline mb-4">
        <textarea formControlName="description" mdbValidate mdbInput class="form-control" id="description" rows="3"
          name="description"></textarea>
        <label mdbLabel class="form-label" for="description">Description</label>
      </mdb-form-control>
      <div class="form-outline mb-4">
        <nz-select formControlName="leader" class="w-100" nzSize="large" nzShowSearch [nzLoading]="!fetchData"
          nzAllowClear nzPlaceHolder="Leader">
          @for (item of leader; track $index) {
          <nz-option nzLabel="{{item.username}}" nzValue="{{item.username}}"></nz-option>
          }
        </nz-select>
      </div>
      <div class="form-outline mb-4">
        <nz-select class="w-100" nzSize="large" [nzLoading]="!fetchData" nzMode="multiple" nzPlaceHolder="Member"
          [nzShowArrow]="true" formControlName="member">
        </nz-select>
      </div>
      <!-- Submit button -->
      <div class="d-flex justify-content-end mb-4">
        <button (click)="handleHiddenModal()" mdbRipple type="button" class="btn btn-light mx-2">
          Cancel
        </button>
        <button mdbRipple type="submit" class="btn btn-primary mx-2">
          Create
        </button>
      </div>
    </form>
  </div>
</div>