<div class="overlay">
  <div class="form">
    <div class="animate">
      <img src="../../../../assets/images/login.png" alt="logo">
    </div>
    <div class="form-login">
      <div class="heading mb-4">
        <h3>Sign Up</h3>
      </div>

      <form>
        <mdb-form-control class="mb-4">
          <input mdbInput type="email" id="email" class="form-control" />
          <label mdbLabel class="form-label" for="email">Email</label>
        </mdb-form-control>

        <mdb-form-control class="mb-4">
          <input mdbInput type="password" id="password" class="form-control" />
          <label mdbLabel class="form-label" for="password">Password</label>
        </mdb-form-control>
        <mdb-form-control class="mb-4">
          <input mdbInput type="password" id="confirmPassword" class="form-control" />
          <label mdbLabel class="form-label" for="confirmPassword">Confirm Password</label>
        </mdb-form-control>

        <button mdbRipple type="button" class="btn btn-primary btn-block mb-4">Sign Up</button>
        <div class="text-center">
          <p>You Have Accoubt: <a routerLink="/auth/login">Login</a></p>
          <p>or login with:</p>
          @for (item of social; track $index) {
          <pm-social [icon]="item.icon"></pm-social>
          }
        </div>
      </form>
    </div>
  </div>
</div>