.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.form {
  display: flex;
  width: 70vw;
  min-height: 70vh;
  border-radius: 20px;
  box-shadow: 0 0 20px #d2d2d2;
}

.animate {
  width: 50%;

  & img {
    max-width: 100%;
    max-height: 100%;
  }
}

.form-login {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;

  .heading h3 {
    font-size: 1.4em;
    text-align: center;
  }
}