<div class="main">
  <div class="overlay">
    <div class="form">
      <div class="animate"></div>
      <div class="form-login">
        <div>
          <h3>Login</h3>
        </div>
        <form action="">
          <div class="form-group">
            <div class="icon"></div>
            <div class="input"></div>
          </div>
          <div class="form-group">
            <div class="icon"></div>
            <div class="input"></div>
          </div>
        </form>
        <div class="">
          <a href="">Forgot Password</a>
          <button class="btn" type="submit">Login</button>
        </div>
        <div>
          <div>
            or login with
          </div>
          <div class="google">

          </div>
        </div>
        <div>
          <span>you don't have account</span>
          <a href="">Signup</a>
        </div>
      </div>
    </div>
  </div>
</div>