.sidebar-wrap {
  max-height: calc(100vh - var(--header-height) - var(--container-spacing));
}

.sidebar-item {
  background-color: #fbfbfb;
}

.sidebar-item:not(.sidebar-item:last-child) {
  padding-bottom: 10px;
}